<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
        .completed {
            text-decoration: line-through;
        }
        .selected {
            color: red;
        }
        .empty {
            border-color: red;
        }
    </style>
</head>
<body>
    <div id="todo-app">
        <div>
            <input v-if="leftTodosCount"
                   type="button"
                   value="全部标为完成"
                   @click="markAllAsCompleted"/>
            <input type="text"
                   v-bind:class='{empty: emptyChecked}'
                   placeholder="添加 todo"
                   v-model="NewTodoTitle"
                   @keyup.enter="addTodo"/>
            <span v-if="emptyChecked" style="color: red"># 请输入内容 #</span>
        </div>
        <ul>
            <li v-for='todo in filteredTodos' :key='todo.id'>
                <span :class="{completed: todo.completed}"
                      @dblclick="editTodo(todo)">{{ todo.title }}</span>
                <input type="button" 
                       value="标为完成"
                       v-if="!todo.completed"
                       @click="markAsCompleted(todo)"/>
                <input type="button" 
                       value="标为未完成"
                       v-if="todo.completed"
                       @click="markAsUnCompleted(todo)"/>
                <input v-if="todo.removed"
                       type="button"
                       value="还原"
                       @click="restoreTodo(todo)"/>
                <input v-else="todo.removed"
                       type="button"
                       value="删除"
                       @click="removeTodo(todo)"/>
                <input type="text"
                       value="编辑 todo..."
                       v-focus="true"
                       v-if="editedTodo !== null && editedTodo.id === todo.id"
                       v-model="todo.title"
                       @keyup.enter="editDone(todo)"
                       @keyup.esc="cancelEdit(todo)"/>
            </li>
        </ul>
        <div>
            <span v-if="leftTodosCount">剩余 {{leftTodosCount}} 项未完成 ---</span>
            <span v-else-if="completedTodosCount">全部完成！你真是太优秀了！</span>
            <span v-else>添加你的第一项todo吧！</span>
            <span v-if="todos.length">筛选：
                <input type="button"
                       value="全部"
                       v-bind:class="{selected: intention==='all'}"
                       @click="intention='all'"/>
                <input v-if="leftTodosCount"
                       type="button"
                       value="进行中"
                       v-bind:class="{selected: intention==='ongoing'}"
                       @click="intention='ongoing'"/>
                <input v-if="completedTodosCount"
                       type="button"
                       value="已完成"
                       v-bind:class="{selected: intention==='finished'}"
                       @click="intention='finished'"/>
                <input v-if="completedTodosCount"
                       type="button"
                       value="清除已完成"
                       @click="clearCompleted"/>
                <input type="button"
                       value="清除全部"
                       @click="clearAll"/>
                <input v-if="recycleBin.length"
                       type="button"
                       value="回收站"
                       @click="intention='removed'"/>
            </span>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script>
        let id = 0;
        var STORAGE_KEY = 'vue2.x-todo-tutorial';
        var todoStorage = {
            fetch: function () {
                var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
                todos.forEach(function (todo, index) {
                    todo.id = index;
                });
                todoStorage.uid = todos.length;
                return todos;
            },
            save: function (todos) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
            }
        };
        var app = new Vue ({
            el: '#todo-app',
            data: function () {
                return {
                    todos: todoStorage.fetch(),
                    recycleBin: [],
                    NewTodoTitle: '',
                    checkEmpty: false,
                    editedTodo: null,
                    intention: 'all'
                }
            },
            computed: {
                emptyChecked: function () {
                    return this.NewTodoTitle.length === 0 && this.checkEmpty;
                },
                leftTodos: function () {
                    return this.todos.filter(todo => !todo.completed);
                },
                leftTodosCount: function () {
                    return this.leftTodos.length;
                },
                completedTodos: function () {
                    return this.todos.filter(todo => todo.completed);
                },
                completedTodosCount: function () {
                    return this.completedTodos.length;
                },
                filteredTodos: function () {
                    if (this.intention === 'ongoing') {
                        return this.leftTodos;
                    }
                    else if (this.intention === 'finished') {
                        return this.completedTodos;
                    }
                    else if (this.intention === 'removed') {
                        return this.recycleBin;
                    }
                    else {
                        return this.todos;
                    }
                }
            },
            methods: {
                addTodo: function () {
                    if (this.NewTodoTitle === '') {
                        this.checkEmpty = true;
                        return;
                    }
                    this.todos.push({id: todoStorage.uid++, title: this.NewTodoTitle, completed: false, removed: false});
                    this.NewTodoTitle = '';
                    this.checkEmpty = false;
                },
                markAsCompleted: function (todo) {
                    todo.completed = true;
                },
                markAllAsCompleted: function () {
                    this.todos.map(function (todo) {
                        if (!todo.completed) {
                            todo.completed = true;
                        }
                    })
                },
                markAsUnCompleted: function (todo) {
                    todo.completed = false;
                },
                restoreTodo: function (todo) {
                    todo.removed = false;
                    this.todos.unshift(todo);
                    let pos = this.recycleBin.indexOf(todo);
                    this.recycleBin.splice(pos, 1);
                },
                removeTodo: function (todo) {
                    let removeTodo = this.todos.splice(this.todos.indexOf(todo), 1)[0];
                    removeTodo.removed = true;
                    this.recycleBin.unshift(removeTodo);
                },
                editTodo: function (todo) {
                    this.editedTodo = {id: todo.id, title: todo.title, completed: todo.completed};
                },
                editDone: function (todo) {
                    if (todo.title === '') {
                        this.removeTodo(todo);
                    }
                    this.editedTodo = null;
                },
                cancelEdit: function (todo) {
                    todo.title = this.editedTodo.title;
                    this.editedTodo = null;
                },
                clearAll: function () {
                    if (!confirm('确认清除全部待办事项？')) {
                        return;
                    }
                    this.todos.map(todo => todo.removed = true);
                    this.recycleBin.unshift(...this.todos);
                    this.todos = [];
                },
                clearCompleted: function () {
                    if (!confirm('确认清除全部已完成的待办事项？')) {
                        return;
                    }
                    this.completedTodos.map(todo => todo.removed = true);
                    this.recycleBin.unshift(...this.completedTodos);
                    this.todos = this.leftTodos;
                }
            },
            directives: {
                focus: {
                    inserted: function (el) {
                        el.focus();
                    }
                }
            },
            watch: {
                todos: {
                    handler: function (todos) {
                        todoStorage.save(todos);
                    },
                    deep: true
                }
            }
        });
    </script>
</body>
</html>